h1 {
    width: 100%;
    font-size: 50px;
    margin-bottom: 60px;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: burlywood; /* Outside container background color */
    color: white;
    /*display: flex-start;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.LoginPageContainer{
    padding-left: 80px;
}
.customForm{
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    padding: 5px;
}


/* Outer container to center content */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    height: 100%;
    /*border: 2px solid #1db954;*/ /* Green border for the outer container */
    border-radius: 10px;
    padding: 20px;
}

/* Main login container */
.login-container {
    background-color: #D19A66; /* Inside container background color */
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Add shadow for a nice effect */
    border: 1px solid #333; /* Inner container border */
}

.enterPassword{
    padding: 20px
}

/* Header styles */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Input field styles */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: ghostwhite;
    color: black;
}

/* Button styles */
.login-button {
    background-color: #5C4033; /* Vibrant orange for better contrast */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

    .login-button:hover {
        background-color: #FF784E; /* Slightly lighter orange on hover */
    }

/* Link styles */
a {
    color: #5C4033;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

/* Footer styles */
.footer {
    margin-top: 15px;
    font-size: 14px;
}
