@page "/Playlist"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Pancake_Final.Domain
@using Pancake_Final.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Pancake_Final.Data.Pancake_FinalContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist</title>
    <link rel="stylesheet" href="Playlist.razor.css">
</head>
<body>
    <main>
        <h1>
            <img class="logo" src="/images/pancakeLogo.png" alt="Logo">Your Playlist
        </h1>
        <div class="PlaylistSearchbar">
            <input placeholder="Enter playlist name" />
            <button class="SearchPlaylistButton">Search</button>
            <button class="AddPlaylistButton">
                <a href="/PlaylistCreation">Create Playlist</a>
            </button>
            <button class="DeletePlaylistButton">Delete Playlist
            </button>
        </div>
        <div class="playlistcards_container">
            <div class="Playlist_card1">
                <div class="card-body">
                    <h5 class="card-title">Example Playlist 1</h5>
                    <img src="/images/Music Icon.jpg" alt="Image 1" class="R1image">
                    <button class="btn btn-danger">Play</button>
                </div>
            </div>
            <div class="Playlist_card2">
                <div class="card-body">
                    <h5 class="card-title">Example Playlist 2</h5>
                    <img src="/images/Music Icon.jpg" alt="Image 1" class="R1image">
                    <button class="btn btn-danger">Play</button>
                </div>
            </div>
            <div class="Playlist_card3">
                <div class="card-body">
                    <h5 class="card-title">Example Playlist 3</h5>
                    <img src="/images/Music Icon.jpg" alt="Image 1" class="R1image">
                    <button class="btn btn-danger">Play</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>

@* <QuickGrid Class="table" Items="context.Playlist"> *@
@*     <PropertyColumn Property="playlist => playlist.PlaylistID" /> *@
@*     <PropertyColumn Property="playlist => playlist.UserId" /> *@
@*     <PropertyColumn Property="playlist => playlist.PlaylistName" /> *@
@*     <PropertyColumn Property="playlist => playlist.DateCreated" /> *@
@*     <PropertyColumn Property="playlist => playlist.DateUpdated" /> *@
@*     <PropertyColumn Property="playlist => playlist.CreatedBy" /> *@
@*     <PropertyColumn Property="playlist => playlist.UpdateBy" /> *@
@*     <TemplateColumn Context="playlist"> *@
@*         <a href="@($"playlists/edit?id={playlist.Id}")">Edit</a> | *@
@*         <a href="@($"playlists/details?id={playlist.Id}")">Details</a> | *@
@*         <a href="@($"playlists/delete?id={playlist.Id}")">Delete</a> *@
@*     </TemplateColumn> *@
@* </QuickGrid> *@

@code {

    private Pancake_FinalContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
