@page "/subscriptions"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Pancake_Final.Domain
@using Pancake_Final.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Pancake_Final.Data.Pancake_FinalContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="subscriptions/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Subscription">
    <PropertyColumn Property="subscription => subscription.SubId" />
    <PropertyColumn Property="subscription => subscription.UserId" />
    <PropertyColumn Property="subscription => subscription.Name" />
    <PropertyColumn Property="subscription => subscription.SubStatus" />
    <PropertyColumn Property="subscription => subscription.SubPlans" />
    <PropertyColumn Property="subscription => subscription.DateCreated" />
    <PropertyColumn Property="subscription => subscription.DateUpdated" />
    <PropertyColumn Property="subscription => subscription.CreatedBy" />
    <PropertyColumn Property="subscription => subscription.UpdateBy" />

    <TemplateColumn Context="subscription">
        <a href="@($"subscriptions/edit?id={subscription.Id}")">Edit</a> |
        <a href="@($"subscriptions/details?id={subscription.Id}")">Details</a> |
        <a href="@($"subscriptions/delete?id={subscription.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private Pancake_FinalContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
