@page "/paymentmethods/create"
@using Microsoft.EntityFrameworkCore
@using Pancake_Final.Domain
@inject IDbContextFactory<Pancake_Final.Data.Pancake_FinalContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>PaymentMethod</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="PaymentMethod" OnValidSubmit="AddPaymentMethod" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="payid" class="form-label">PayId:</label> 
                <InputNumber id="payid" @bind-Value="PaymentMethod.PayId" class="form-control" /> 
                <ValidationMessage For="() => PaymentMethod.PayId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="userid" class="form-label">UserId:</label> 
                <InputNumber id="userid" @bind-Value="PaymentMethod.UserId" class="form-control" /> 
                <ValidationMessage For="() => PaymentMethod.UserId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="PaymentMethod.Name" class="form-control" /> 
                <ValidationMessage For="() => PaymentMethod.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="paymentm" class="form-label">PaymentM:</label> 
                <InputText id="paymentm" @bind-Value="PaymentMethod.PaymentM" class="form-control" /> 
                <ValidationMessage For="() => PaymentMethod.PaymentM" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="PaymentMethod.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => PaymentMethod.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="PaymentMethod.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => PaymentMethod.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="PaymentMethod.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => PaymentMethod.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updateby" class="form-label">UpdateBy:</label> 
                <InputText id="updateby" @bind-Value="PaymentMethod.UpdateBy" class="form-control" /> 
                <ValidationMessage For="() => PaymentMethod.UpdateBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/paymentmethods">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private PaymentMethod PaymentMethod { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddPaymentMethod()
    {
        using var context = DbFactory.CreateDbContext();
        context.PaymentMethod.Add(PaymentMethod);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/paymentmethods");
    }
}
