@page "/paymentmethods/edit"
@using Microsoft.EntityFrameworkCore
@using Pancake_Final.Domain
@inject IDbContextFactory<Pancake_Final.Data.Pancake_FinalContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>PaymentMethod</h2>
<hr />
@if (PaymentMethod is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="PaymentMethod" OnValidSubmit="UpdatePaymentMethod" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="PaymentMethod.Id" value="@PaymentMethod.Id" />
                <div class="mb-3">
                    <label for="payid" class="form-label">PayId:</label>
                    <InputNumber id="payid" @bind-Value="PaymentMethod.PayId" class="form-control" />
                    <ValidationMessage For="() => PaymentMethod.PayId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="userid" class="form-label">UserId:</label>
                    <InputNumber id="userid" @bind-Value="PaymentMethod.UserId" class="form-control" />
                    <ValidationMessage For="() => PaymentMethod.UserId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="PaymentMethod.Name" class="form-control" />
                    <ValidationMessage For="() => PaymentMethod.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="paymentm" class="form-label">PaymentM:</label>
                    <InputText id="paymentm" @bind-Value="PaymentMethod.PaymentM" class="form-control" />
                    <ValidationMessage For="() => PaymentMethod.PaymentM" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="PaymentMethod.DateCreated" class="form-control" />
                    <ValidationMessage For="() => PaymentMethod.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="PaymentMethod.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => PaymentMethod.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="PaymentMethod.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => PaymentMethod.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updateby" class="form-label">UpdateBy:</label>
                    <InputText id="updateby" @bind-Value="PaymentMethod.UpdateBy" class="form-control" />
                    <ValidationMessage For="() => PaymentMethod.UpdateBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/paymentmethods">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private PaymentMethod? PaymentMethod { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        PaymentMethod ??= await context.PaymentMethod.FirstOrDefaultAsync(m => m.Id == Id);

        if (PaymentMethod is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdatePaymentMethod()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(PaymentMethod!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!PaymentMethodExists(PaymentMethod!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/paymentmethods");
    }

    private bool PaymentMethodExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.PaymentMethod.Any(e => e.Id == id);
    }
}
