@page "/genres/edit"
@using Microsoft.EntityFrameworkCore
@using Pancake_Final.Domain
@inject IDbContextFactory<Pancake_Final.Data.Pancake_FinalContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Genre</h2>
<hr />
@if (Genre is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Genre" OnValidSubmit="UpdateGenre" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Genre.GenreID" value="@Genre.GenreID" />
                <div class="mb-3">
                    <label for="genrename" class="form-label">GenreName:</label>
                    <InputText id="genrename" @bind-Value="Genre.GenreName" class="form-control" />
                    <ValidationMessage For="() => Genre.GenreName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="id" class="form-label">Id:</label>
                    <InputNumber id="id" @bind-Value="Genre.Id" class="form-control" />
                    <ValidationMessage For="() => Genre.Id" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Genre.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Genre.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="Genre.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => Genre.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Genre.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Genre.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updateby" class="form-label">UpdateBy:</label>
                    <InputText id="updateby" @bind-Value="Genre.UpdateBy" class="form-control" />
                    <ValidationMessage For="() => Genre.UpdateBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/genres">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int GenreID { get; set; }

    [SupplyParameterFromForm]
    private Genre? Genre { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Genre ??= await context.Genre.FirstOrDefaultAsync(m => m.GenreID == GenreID);

        if (Genre is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateGenre()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Genre!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!GenreExists(Genre!.GenreID))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/genres");
    }

    private bool GenreExists(int? genreid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Genre.Any(e => e.GenreID == genreid);
    }
}
