
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="Home.razor.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>Header</header>
    <aside class="left">
        <a href="">
            <img class="logo" src="\images\pancakeLogo.png" alt="Logo" height="250">
        </a>
        <nav>
            <ul class="nav_links">
                <li><a href="#">Playlists</a></li>
                <li><a href="#">Albums</a></li>
                <li><a href="#">Settings</a></li
                <li><a href="#">Artists</a></li>
            </ul>
        </nav>
    </aside>
    <main>
        <div class="card-container">
            <div class="PlaylistCard">
                <img src="/images/panda.png" alt="Image 1" class="P1image">
                <div class="card-content">
                    <h3 class="card-title">Playlist 1</h3>
                    <p class="card-text">--Description--</p>
                    <a href="#" class="card-button">Play</a>
                </div>
            </div>
            <div class="PlaylistCard">
                <img src="/images/panda.png" alt="Image 1" class="P1image">
                <div class="card-content">
                    <h3 class="card-title">Playlist 2</h3>
                    <p class="card-text">--Description--</p>
                    <a href="#" class="card-button">Play</a>
                </div>
            </div>
            <div class="PlaylistCard">
                <img src="/images/panda.png" alt="Image 1" class="P1image">
                <div class="card-content">
                    <h3 class="card-title">Playlist 3</h3>
                    <p class="card-text">--Description--</p>
                    <a href="#" class="card-button">Play</a>
                </div>
            </div>
        </div>
    </main>
    <aside class="right"></aside>
    <footer>Footer</footer>
</body>
</html>

