@using Pancake_Final.Domain

<button @onclick="() => InvokeMethod()">Remove Song</button>

@code {
    [Parameter]
    public int id { get; set; }

    [Parameter]
    public Action<int> CallMethod { get; set; }

    private void InvokeMethod()
    {
        CallMethod?.Invoke(id);
    }

    }
}